.color-1 {color: #76d7c4;}
.color-2 {color: #7dcea0;}
.color-3 {color: #DAF7A6;}
.color-4 {color: #FFC300;}
.color-5 {color: #FF5733;}
.color-6 {color: #C70039;}

body{
    margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
    background-color: #DAF7A6;
    font-size: 1em;
	line-height: 1.5em;
}
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 10px 0;
	text-align: center;
	font-weight: 300;
    color: navy;
}
#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
/*
 * Logo
 */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}
#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
/*
 * Navegación
 */
nav{
    width:auto; 
    float:right;
}
nav ul{
    display:table; 
    float:left;
}
nav ul li{
    float:left; list-style: none; 
    padding-bottom: 5px;
}
nav ul li:last-child{
    padding-right:50px;
}
.mainmenubtn {
    background-color: #C70039;
    color:#76d7c4;
    border: none;
    cursor: pointer;
    padding:8px;
    margin-top:20px;
    border-radius: 5px;
    margin-left: 3px;
}
.mainmenubtn:hover {
    background-color: #FF5733;
    }
.dropdown {
    position: relative;
    margin-right: 300px;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}
.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
/*
* Sección
*/
.main-content {
	width: 100%;
	max-width: 1000px;
	margin: 5px auto;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.main-content header,
.main-content .content {
	padding: 25px;
}